In [1]:
import pandas as pd

In [ ]:
data=pd.read_csv("8similar_patents_with_techclasses.csv")

In [3]:
len(data)

124310

In [4]:
data.head()

,key,appln_id,mainarea34,docdb_family_id,pat_publn_id,earliest_filing_date,appln_auth,granted,publn_auth,publn_nr,publn_kind,similar_patents,similar_patents_familyIDs,num_unique_familyIDs
0,EP1321051A2,19,Other Fields,19188314.0,286949845.0,2001-12-21,EP,Y,EP,1321051,A2,"['US5759163A', 'WO9410865A1', 'EP0664965A1', '...","['25279710', '25522562', '22699396', '22758306...",1854
1,EP1323868A1,20,Other Fields,19774416.0,287579451.0,2001-12-20,EP,Y,EP,1323868,A1,"['EP0226251A1', 'EP0672795A1', 'WO8002359A1', ...","['19846985', '19863945', '6070111', '27544489'...",1899
2,EP1240845A1,23,Other Fields,8861213.0,289129312.0,2001-03-16,EP,Y,EP,1240845,A1,"['WO0187245A3', 'WO0187245A2', 'US2002010556A1...","['27075299', '27075299', '24279046', '26914213...",1620
3,EP1452428A1,33,Mechanical engineering,19184257.0,287898353.0,2001-12-10,EP,Y,EP,1452428,A1,"['US2004079004A1', 'WO03049990A1', 'EP1304282A...","['19184257', '19184257', '19140954', '18907837...",1837
4,EP1733650A1,76,Other Fields,35589510.0,279068442.0,2005-06-15,EP,Y,EP,1733650,A1,"['WO9603606A1', 'EP0181477A2', 'WO9321868A1', ...","['3515062', '6247500', '3501175', '25076445', ...",1685

In [5]:
data.reset_index(drop=True,inplace=True)

In [6]:
dataconcat=data[data["num_unique_familyIDs"]>=1000]

In [7]:
dataconcat.reset_index(drop=True,inplace=True)

In [8]:
len(dataconcat)

122057

In [9]:
dataconcat.tail()

,key,appln_id,mainarea34,docdb_family_id,pat_publn_id,earliest_filing_date,appln_auth,granted,publn_auth,publn_nr,publn_kind,similar_patents,similar_patents_familyIDs,num_unique_familyIDs
122052,EP2690227A2,409586682,Other Fields,48798396.0,413547728.0,2012-07-23,EP,N,EP,2690227,A2,"['WO2008099102A3', 'WO2008099102A2', 'EP127800...","['38421144', '38421144', '8180675', '6181715',...",1591
122053,EP2674561A1,409625036,Other Fields,49582504.0,412522858.0,2006-02-08,EP,Y,EP,2674561,A1,"['EP2674561A1', 'EP2211009A2', 'WO2004027193A1...","['49582504', '41864948', '32010904', '35169320...",1596
122054,EP2687126A2,410143740,Other Fields,49553546.0,413566611.0,2009-12-23,EP,Y,EP,2687126,A2,"['US2011314623A1', 'WO2011079027A3', 'EP267406...","['43513866', '43513866', '43513866', '43513866...",1373
122055,EP2690246A1,410870038,Other Fields,49775738.0,413564354.0,2007-04-26,EP,Y,EP,2690246,A1,"['US2010116449A1', 'WO2008131759A1', 'US201206...","['38926439', '38926439', '44509049', '27734972...",1644
122056,EP2816434A2,422047316,Instruments,42937309.0,423914137.0,2005-12-02,EP,N,EP,2816434,A2,"['US2010037418A1', 'WO2011020040A1', 'US865655...","['42937309', '42937309', '46204671', '55409644...",1120

In [10]:
len(data[data["num_unique_familyIDs"]<1000])

2253

In [11]:
122057+2253

124310

In [12]:
dataconcat1=pd.read_csv("dataconcat1.csv")

In [13]:
dataconcat1.reset_index(drop=True,inplace=True)

In [14]:
dataconcat2=pd.read_csv("dataconcat2.csv")

In [15]:
dataconcat2.reset_index(drop=True,inplace=True)

In [16]:
final_data = pd.concat([dataconcat, dataconcat1, dataconcat2], axis=0, ignore_index=True)

In [17]:
final_data.head()

,key,appln_id,mainarea34,docdb_family_id,pat_publn_id,earliest_filing_date,appln_auth,granted,publn_auth,publn_nr,publn_kind,similar_patents,similar_patents_familyIDs,num_unique_familyIDs
0,EP1321051A2,19,Other Fields,19188314.0,286949845.0,2001-12-21,EP,Y,EP,1321051,A2,"['US5759163A', 'WO9410865A1', 'EP0664965A1', '...","['25279710', '25522562', '22699396', '22758306...",1854
1,EP1323868A1,20,Other Fields,19774416.0,287579451.0,2001-12-20,EP,Y,EP,1323868,A1,"['EP0226251A1', 'EP0672795A1', 'WO8002359A1', ...","['19846985', '19863945', '6070111', '27544489'...",1899
2,EP1240845A1,23,Other Fields,8861213.0,289129312.0,2001-03-16,EP,Y,EP,1240845,A1,"['WO0187245A3', 'WO0187245A2', 'US2002010556A1...","['27075299', '27075299', '24279046', '26914213...",1620
3,EP1452428A1,33,Mechanical engineering,19184257.0,287898353.0,2001-12-10,EP,Y,EP,1452428,A1,"['US2004079004A1', 'WO03049990A1', 'EP1304282A...","['19184257', '19184257', '19140954', '18907837...",1837
4,EP1733650A1,76,Other Fields,35589510.0,279068442.0,2005-06-15,EP,Y,EP,1733650,A1,"['WO9603606A1', 'EP0181477A2', 'WO9321868A1', ...","['3515062', '6247500', '3501175', '25076445', ...",1685

In [18]:
final_data.reset_index(drop=True,inplace=True)

In [19]:
final_data.tail()

,key,appln_id,mainarea34,docdb_family_id,pat_publn_id,earliest_filing_date,appln_auth,granted,publn_auth,publn_nr,publn_kind,similar_patents,similar_patents_familyIDs,num_unique_familyIDs
124101,EP1002560A2,17406457,Other Fields,18225474.0,294024103.0,1998-11-19,EP,Y,EP,1002560,A2,"['EP0836871A2', 'EP0992266A2', 'EP0773514A1', ...","['17032685', '17694119', '9484499', '11909963'...",1247
124102,EP1017003A2,17407549,Electrical Engineering,18500622.0,291916156.0,1998-12-28,EP,N,EP,1017003,A2,"['EP0735760A1', 'WO9631060A1', 'EP0554615A2', ...","['8220149', '8220149', '25167522', '8220154', ...",1217
124103,EP0978301A1,17415477,Electrical Engineering,12004924.0,294368343.0,1998-01-30,EP,Y,EP,978301,A1,"['WO9938588A1', 'EP0927955A2', 'EP0943362A2', ...","['12004924', '11473040', '13447531', '16751590...",1162
124104,EP0999518A1,17427116,Electrical Engineering,15170543.0,292987412.0,1998-05-19,EP,N,EP,999518,A1,"['WO9960522A1', 'EP0666547A2', 'EP0635983A2', ...","['15170543', '11766566', '22244262', '25350364...",1752
124105,EP1033679A1,17442746,Electrical Engineering,17518030.0,293885331.0,1998-09-28,EP,N,EP,1033679,A1,"['WO0019370A1', 'EP0664526A2', 'EP0952555A1', ...","['17518030', '22673242', '27462059', '13449705...",1359

In [20]:
len(final_data)

124106

In [21]:
data204=pd.read_csv("data3.csv")

In [22]:
data204.reset_index(drop=True, inplace=True)

In [23]:
len(data204)

204

In [24]:
124106+204

124310

In [ ]:
final_data.to_csv("10merged_data.csv", index=False)

In [26]:
data204.to_csv("data204.csv",index=False)