In [1]:
import pandas as pd

In [ ]:
data1=pd.read_pickle("22patents_atleast1000.pkl")

In [ ]:
data2=pd.read_pickle("23patents_atleast1000_2.pkl")
data3=pd.read_pickle("23patents_atleast1000_3.pkl")
data4=pd.read_pickle("23patents_atleast1000_4.pkl")

In [5]:
data = pd.concat([data1, data2, data3, data4], axis=0, ignore_index=True)

In [6]:
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents,num_unique_patents
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84...",2000
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83...",2000
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2...",1658
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (...",2000
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2...",2000

In [7]:
len(data)

229100

In [ ]:
len(pd.read_pickle("23patents_lessthan1000.pkl"))+ len(pd.read_pickle("22patents_NotFound.pkl"))

182

In [9]:
229100+182

229282

In [ ]:
data.to_pickle("24all_patents_atleat1000.pkl")