In [ ]:
import pandas as pd
data=pd.read_pickle("21similar_patents_updated.pkl")

In [2]:
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84..."
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83..."
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2..."
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (..."
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2..."

In [3]:
data.isna().sum()

docdb_family_id            0
earliest_pat_publn_id      0
earliest_filing_date       0
appln_auth                 0
granted                    0
similar_patents          125
dtype: int64

In [4]:
len(pd.read_pickle("error_ids.pkl"))

125

In [5]:
len(data["similar_patents"][0])

2000

In [6]:
def unique_patents(lst):
    # Check if lst is a valid list or iterable
    if isinstance(lst, list):
        return len(lst)
    else:
        # Handle the case where the value is not a list (e.g., NaN or float)
        return 0  # or return np.nan if you want to keep it as NaN for invalid entries

In [7]:
data["num_unique_patents"]=data["similar_patents"].apply(unique_patents)

In [8]:
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents,num_unique_patents
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84...",2000
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83...",2000
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2...",1658
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (...",2000
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2...",2000

In [9]:
data_notfound=data[data["num_unique_patents"]==0]

In [10]:
data_lessthan1000=data[(data["num_unique_patents"]>0) & (data["num_unique_patents"]<1000)]

In [11]:
data_atleast1000=data[data["num_unique_patents"]>=1000]

In [ ]:
(data_notfound.reset_index(drop=True)).to_pickle("22patents_NotFound.pkl")

In [ ]:
(data_atleast1000.reset_index(drop=True)).to_pickle("22patents_atleast1000.pkl")

In [ ]:
(data_lessthan1000.reset_index(drop=True)).to_pickle("22patents_lessthan1000.pkl")