In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("patstat_pat_no.csv")

In [6]:
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted
0,574528.0,307102421.0,1985-04-10,EP,Y
1,574586.0,387396319.0,1987-06-08,EP,Y
2,574660.0,387398325.0,1986-08-04,EP,Y
3,1226456.0,303518198.0,1991-08-29,EP,Y
4,1226485.0,302640285.0,1992-08-12,EP,Y

In [7]:
import mysql.connector

In [8]:
import os
from dotenv import load_dotenv

In [9]:
load_dotenv()
db_config = {
    'host': os.getenv('DB_HOST'),
    'user': os.getenv('DB_USER'),
    'password': os.getenv('DB_PASSWORD'),
    'database': os.getenv('DB_DATABASE')
}

In [10]:
data["docdb_family_id"]

0           574528.0
1           574586.0
2           574660.0
3          1226456.0
4          1226485.0
             ...
229277    49776606.0
229278    49881149.0
229279    49882718.0
229280    49998818.0
229281    49999637.0
Name: docdb_family_id, Length: 229282, dtype: float64

In [11]:
tuple(data["docdb_family_id"])

(574528.0,
 574586.0,
 574660.0,
 1226456.0,
 1226485.0,
 1236211.0,
 1236234.0,
 1236542.0,
 1239366.0,
 1239622.0,
 1239657.0,
 1239741.0,
 1239749.0,
 1239760.0,
 1340219.0,
 1340485.0,
 1340488.0,
 1340519.0,
 1340681.0,
 1341021.0,
 1762664.0,
 1763206.0,
 3411930.0,
 3460581.0,
 3460621.0,
 3460833.0,
 3460835.0,
 3460912.0,
 3460975.0,
 3461011.0,
 3461021.0,
 3461121.0,
 3461123.0,
 3478350.0,
 3478351.0,
 3478506.0,
 3478541.0,
 3478788.0,
 3478811.0,
 3478851.0,
 3478868.0,
 3478887.0,
 3479022.0,
 3479063.0,
 3479143.0,
 3479187.0,
 3479252.0,
 3479254.0,
 3479275.0,
 3479294.0,
 3479303.0,
 3479359.0,
 3479376.0,
 3479408.0,
 3479415.0,
 3479450.0,
 3479467.0,
 3479475.0,
 3479498.0,
 3479517.0,
 3479590.0,
 3479671.0,
 3479746.0,
 3479774.0,
 3479780.0,
 3479803.0,
 3479805.0,
 3479828.0,
 3479832.0,
 3479837.0,
 3479858.0,
 3479871.0,
 3479909.0,
 3479918.0,
 3479935.0,
 3479986.0,
 3480016.0,
 3480018.0,
 3480053.0,
 3480092.0,
 3480157.0,
 3480195.0,
 3480208.0,
 3480239.0,
 3480253.0,
 3480265.0,
 3480284.0,
 3480286.0,
 3480321.0,
 3480335.0,
 3480343.0,
 3480366.0,
 3480370.0,
 3480373.0,
 3480377.0,
 3480495.0,
 3480520.0,
 3480529.0,
 3480602.0,
 3480634.0,
 3480648.0,
 3480654.0,
 3480679.0,
 3480680.0,
 3480709.0,
 3480772.0,
 3480820.0,
 3480847.0,
 3480867.0,
 3480868.0,
 3480894.0,
 3480920.0,
 3480952.0,
 3481006.0,
 3481060.0,
 3481166.0,
 3481232.0,
 3481274.0,
 3481305.0,
 3481307.0,
 3481330.0,
 3481357.0,
 3481384.0,
 3481427.0,
 3481592.0,
 3481622.0,
 3481674.0,
 3481755.0,
 3481817.0,
 3481866.0,
 3481876.0,
 3481902.0,
 3481932.0,
 3482063.0,
 3482064.0,
 3482127.0,
 3482146.0,
 3482166.0,
 3482265.0,
 3482293.0,
 3482436.0,
 3482440.0,
 3482484.0,
 3482485.0,
 3482536.0,
 3482537.0,
 3482558.0,
 3482592.0,
 3482598.0,
 3482618.0,
 3482649.0,
 3482718.0,
 3482722.0,
 3482728.0,
 3482731.0,
 3482757.0,
 3482783.0,
 3482790.0,
 3482810.0,
 3482837.0,
 3482886.0,
 3482888.0,
 3482916.0,
 3482947.0,
 3482951.0,
 3482968.0,
 3482981.0,
 3483093.0,
 3483115.0,
 3483123.0,
 3483152.0,
 3483229.0,
 3483359.0,
 3483386.0,
 3483435.0,
 3483554.0,
 3483556.0,
 3483589.0,
 3483623.0,
 3483635.0,
 3483658.0,
 3483711.0,
 3483712.0,
 3483717.0,
 3483763.0,
 3483813.0,
 3483819.0,
 3483862.0,
 3483863.0,
 3483895.0,
 3483921.0,
 3484001.0,
 3484004.0,
 3484012.0,
 3484034.0,
 3484113.0,
 3484140.0,
 3484147.0,
 3484152.0,
 3484235.0,
 3484251.0,
 3484270.0,
 3484274.0,
 3484278.0,
 3484281.0,
 3484337.0,
 3484339.0,
 3484345.0,
 3484396.0,
 3484403.0,
 3484428.0,
 3484506.0,
 3484599.0,
 3484609.0,
 3484659.0,
 3484660.0,
 3484691.0,
 3484692.0,
 3484700.0,
 3484713.0,
 3484717.0,
 3484731.0,
 3484756.0,
 3484759.0,
 3484776.0,
 3484842.0,
 3484863.0,
 3484873.0,
 3484894.0,
 3484895.0,
 3484900.0,
 3484925.0,
 3484932.0,
 3484957.0,
 3484984.0,
 3484990.0,
 3485012.0,
 3485013.0,
 3485016.0,
 3485041.0,
 3485069.0,
 3485173.0,
 3485280.0,
 3485310.0,
 3485315.0,
 3485341.0,
 3485359.0,
 3485386.0,
 3485419.0,
 3485439.0,
 3485441.0,
 3485499.0,
 3485518.0,
 3485603.0,
 3485653.0,
 3485741.0,
 3485745.0,
 3485795.0,
 3485845.0,
 3485894.0,
 3485921.0,
 3485967.0,
 3485995.0,
 3485996.0,
 3485998.0,
 3486003.0,
 3486019.0,
 3486026.0,
 3486082.0,
 3486107.0,
 3486113.0,
 3486114.0,
 3486193.0,
 3486195.0,
 3486243.0,
 3486318.0,
 3486340.0,
 3486342.0,
 3486348.0,
 3486433.0,
 3486458.0,
 3486491.0,
 3486530.0,
 3486531.0,
 3486536.0,
 3486571.0,
 3486573.0,
 3486587.0,
 3486590.0,
 3486726.0,
 3486754.0,
 3486760.0,
 3486815.0,
 3486827.0,
 3486837.0,
 3486866.0,
 3486867.0,
 3486892.0,
 3486926.0,
 3487041.0,
 3487123.0,
 3487223.0,
 3487232.0,
 3487358.0,
 3487368.0,
 3487394.0,
 3487454.0,
 3487520.0,
 3487534.0,
 3487562.0,
 3487588.0,
 3487603.0,
 3487695.0,
 3487697.0,
 3487699.0,
 3487729.0,
 3487735.0,
 3487752.0,
 3487782.0,
 3487790.0,
 3487916.0,
 3487924.0,
 3487969.0,
 3487980.0,
 3487996.0,
 3488001.0,
 3488004.0,
 3488033.0,
 3488066.0,
 3488085.0,
 3488089.0,
 3488092.0,
 3488115.0,
 3488120.0,
 3488145.0,
 3488152.0,
 3488232.0,
 3488254.0,
 3488258.0,
 3488265.0,
 3488296.0,
 3488312.0,
 3488315.0,
 3488342.0,
 3488369.0,
 3488390.0,
 3488394.0,
 3488400.0,
 3488441.0,
 3488446.0,
 3488453.0,
 3488497.0,
 3488520.0,
 3488580.0,
 3488581.0,
 3488716.0,
 3488741.0,
 3488745.0,
 3488823.0,
 3488841.0,
 3488849.0,
 3488893.0,
 3488899.0,
 3488907.0,
 3488955.0,
 3489007.0,
 3489014.0,
 3489036.0,
 3489057.0,
 3489089.0,
 3489117.0,
 3489172.0,
 3489246.0,
 3489258.0,
 3489272.0,
 3489306.0,
 3489334.0,
 3489338.0,
 3489358.0,
 3489389.0,
 3489440.0,
 3489465.0,
 3489466.0,
 3489467.0,
 3489489.0,
 3489492.0,
 3489528.0,
 3489531.0,
 3489558.0,
 3489561.0,
 3489569.0,
 3489585.0,
 3489596.0,
 3489598.0,
 3489639.0,
 3489646.0,
 3489674.0,
 3489703.0,
 3489732.0,
 3489753.0,
 3489806.0,
 3489834.0,
 3489858.0,
 3489872.0,
 3489911.0,
 3489913.0,
 3489916.0,
 3489943.0,
 3490012.0,
 3490046.0,
 3490058.0,
 3490147.0,
 3490176.0,
 3490180.0,
 3490201.0,
 3490224.0,
 3490233.0,
 3490249.0,
 3490299.0,
 3490300.0,
 3490327.0,
 3490332.0,
 3490352.0,
 3490373.0,
 3490380.0,
 3490414.0,
 3490429.0,
 3490437.0,
 3490438.0,
 3490459.0,
 3490489.0,
 3490537.0,
 3490539.0,
 3490667.0,
 3490728.0,
 3490733.0,
 3490734.0,
 3490754.0,
 3490863.0,
 3490886.0,
 3490888.0,
 3490893.0,
 3490936.0,
 3490942.0,
 3490964.0,
 3491026.0,
 3491044.0,
 3491048.0,
 3491056.0,
 3491061.0,
 3491062.0,
 3491201.0,
 3491225.0,
 3491254.0,
 3491420.0,
 3491423.0,
 3491444.0,
 3491449.0,
 3491450.0,
 3491479.0,
 3491493.0,
 3491494.0,
 3491496.0,
 3491499.0,
 3491504.0,
 3491550.0,
 3491575.0,
 3491576.0,
 3491579.0,
 3491580.0,
 3491589.0,
 3491612.0,
 3491640.0,
 3491685.0,
 3491720.0,
 3491823.0,
 3491849.0,
 3491879.0,
 3491888.0,
 3491907.0,
 3491916.0,
 3491935.0,
 3491968.0,
 3491977.0,
 3491993.0,
 3492001.0,
 3492029.0,
 3492101.0,
 3492106.0,
 3492116.0,
 3492126.0,
 3492171.0,
 3492178.0,
 3492179.0,
 3492200.0,
 3492212.0,
 3492216.0,
 3492230.0,
 3492253.0,
 3492255.0,
 3492259.0,
 3492263.0,
 3492282.0,
 3492291.0,
 3492429.0,
 3492446.0,
 3492447.0,
 3492451.0,
 3492555.0,
 3492556.0,
 3492567.0,
 3492575.0,
 3492593.0,
 3492599.0,
 3492644.0,
 3492738.0,
 3492751.0,
 3492820.0,
 3492846.0,
 3492847.0,
 3492914.0,
 3492921.0,
 3492986.0,
 3493011.0,
 3493015.0,
 3493076.0,
 3493101.0,
 3493117.0,
 3493126.0,
 3493227.0,
 3493327.0,
 3493413.0,
 3493422.0,
 3493443.0,
 3493445.0,
 3493449.0,
 3493452.0,
 3493480.0,
 3493495.0,
 3493498.0,
 3493501.0,
 3493518.0,
 3493525.0,
 3493531.0,
 3493558.0,
 3493585.0,
 3493586.0,
 3493630.0,
 3493632.0,
 3493644.0,
 3493710.0,
 3493744.0,
 3493747.0,
 3493767.0,
 3493835.0,
 3493836.0,
 3493878.0,
 3493898.0,
 3493932.0,
 3493967.0,
 3493982.0,
 3493990.0,
 3494031.0,
 3494059.0,
 3494060.0,
 3494087.0,
 3494193.0,
 3494216.0,
 3494244.0,
 3494373.0,
 3494381.0,
 3494463.0,
 3494485.0,
 3494487.0,
 3494495.0,
 3494575.0,
 3494650.0,
 3494748.0,
 3494764.0,
 3494768.0,
 3494789.0,
 3494829.0,
 3494968.0,
 3495044.0,
 3495115.0,
 3495144.0,
 3495176.0,
 3495177.0,
 3495180.0,
 3495234.0,
 3495260.0,
 3495263.0,
 3495407.0,
 3495412.0,
 3495413.0,
 3495497.0,
 3495499.0,
 3495527.0,
 3495529.0,
 3495663.0,
 3495703.0,
 3495705.0,
 3495733.0,
 3495735.0,
 3495763.0,
 3495769.0,
 3495795.0,
 3495815.0,
 3495838.0,
 3495844.0,
 3495886.0,
 3495937.0,
 3495943.0,
 3495962.0,
 3495967.0,
 3495984.0,
 3496018.0,
 3496085.0,
 3496094.0,
 3496096.0,
 3496191.0,
 3496246.0,
 3496272.0,
 3496274.0,
 3496291.0,
 3496295.0,
 3496367.0,
 3496396.0,
 3496419.0,
 3496439.0,
 3496531.0,
 3496536.0,
 3496586.0,
 3496590.0,
 3496613.0,
 3496642.0,
 3496665.0,
 3496668.0,
 3496732.0,
 3496756.0,
 3496778.0,
 3496892.0,
 3497066.0,
 3497091.0,
 3497114.0,
 3497146.0,
 3497222.0,
 3497232.0,
 3497236.0,
 3497253.0,
 3497258.0,
 3497261.0,
 3497277.0,
 3497281.0,
 3497320.0,
 3497414.0,
 3497457.0,
 3497467.0,
 3497512.0,
 3497542.0,
 3497590.0,
 3497619.0,
 3497631.0,
 3497637.0,
 3497825.0,
 3497852.0,
 3497994.0,
 3498036.0,
 3498039.0,
 3498062.0,
 3498072.0,
 3498125.0,
 3498149.0,
 3498174.0,
 3498213.0,
 3498214.0,
 3498252.0,
 3498323.0,
 3498325.0,
 3498327.0,
 3498402.0,
 3498424.0,
 3498575.0,
 3498657.0,
 3498667.0,
 3498684.0,
 3498686.0,
 3498714.0,
 3498744.0,
 3498747.0,
 3498771.0,
 3498863.0,
 3498865.0,
 3498868.0,
 3498947.0,
 3498973.0,
 3498979.0,
 3499104.0,
 3499109.0,
 3499125.0,
 3499133.0,
 3499135.0,
 3499155.0,
 3499182.0,
 3499202.0,
 3499216.0,
 3499258.0,
 3499259.0,
 3499301.0,
 3499322.0,
 3499397.0,
 3499401.0,
 3499431.0,
 3499454.0,
 3499564.0,
 3499596.0,
 3499599.0,
 3499617.0,
 3499644.0,
 3499647.0,
 3499722.0,
 3499763.0,
 3499775.0,
 3499785.0,
 3499869.0,
 3499924.0,
 3499983.0,
 3500000.0,
 3500016.0,
 3500019.0,
 3500031.0,
 3500032.0,
 3500047.0,
 3500087.0,
 3500113.0,
 3500139.0,
 3500219.0,
 3500272.0,
 3500292.0,
 3500293.0,
 3500374.0,
 3500437.0,
 3500464.0,
 3500617.0,
 3500624.0,
 3500649.0,
 3500650.0,
 3500728.0,
 3500738.0,
 3500761.0,
 3500790.0,
 3500831.0,
 3500832.0,
 3500835.0,
 3500859.0,
 3500903.0,
 3500920.0,
 3500923.0,
 3500947.0,
 3501031.0,
 3501051.0,
 3501074.0,
 3501102.0,
 3501173.0,
 3501179.0,
 3501225.0,
 3501251.0,
 3501330.0,
 3501331.0,
 3501403.0,
 3501405.0,
 3501427.0,
 3501502.0,
 3501509.0,
 3501543.0,
 3501603.0,
 3501641.0,
 3501661.0,
 3501662.0,
 3501663.0,
 3501682.0,
 3501783.0,
 3501792.0,
 3501858.0,
 3501908.0,
 3501912.0,
 3501940.0,
 3501981.0,
 3501983.0,
 3502006.0,
 3502022.0,
 3502041.0,
 3502047.0,
 3502065.0,
 3502068.0,
 3502120.0,
 3502149.0,
 3502166.0,
 3502168.0,
 3502173.0,
 3502208.0,
 3502222.0,
 3502242.0,
 3502286.0,
 3502301.0,
 3502407.0,
 3502429.0,
 3502475.0,
 3502507.0,
 3502570.0,
 3502616.0,
 3502679.0,
 3502720.0,
 3502757.0,
 3502842.0,
 3502876.0,
 3503099.0,
 3503123.0,
 3503172.0,
 3503209.0,
 3503231.0,
 3503253.0,
 3503258.0,
 3503304.0,
 3503306.0,
 3503318.0,
 3503345.0,
 3503388.0,
 3503405.0,
 3503436.0,
 3503456.0,
 3503459.0,
 3503503.0,
 3503671.0,
 3503688.0,
 3503713.0,
 3503803.0,
 3503822.0,
 3503829.0,
 3503851.0,
 3503888.0,
 3503912.0,
 3503931.0,
 3503934.0,
 3503949.0,
 3504007.0,
 3504028.0,
 3504071.0,
 3504147.0,
 3504150.0,
 3504168.0,
 3504243.0,
 3504278.0,
 3504281.0,
 3504387.0,
 3504435.0,
 3504438.0,
 3504456.0,
 3504499.0,
 3504568.0,
 3504589.0,
 3504617.0,
 3504643.0,
 3504726.0,
 3504731.0,
 3504813.0,
 3504814.0,
 3504830.0,
 3504853.0,
 3504887.0,
 3504956.0,
 3504957.0,
 3504966.0,
 3504969.0,
 3504971.0,
 3505005.0,
 3505017.0,
 3505026.0,
 3505039.0,
 3505106.0,
 3505119.0,
 3505163.0,
 3505173.0,
 3505213.0,
 3505306.0,
 3505325.0,
 3505329.0,
 3505414.0,
 3505439.0,
 3505503.0,
 3505626.0,
 3505761.0,
 3505765.0,
 3505766.0,
 3505767.0,
 3505789.0,
 3505821.0,
 3505840.0,
 3505845.0,
 3505865.0,
 3505897.0,
 3505915.0,
 3505916.0,
 3505938.0,
 3505961.0,
 3505998.0,
 3506118.0,
 3506139.0,
 3506182.0,
 3506242.0,
 3506244.0,
 3506262.0,
 3506374.0,
 3506410.0,
 3506415.0,
 3506435.0,
 3506462.0,
 3506510.0,
 3506551.0,
 3506572.0,
 3506575.0,
 3506578.0,
 3506657.0,
 3506660.0,
 3506703.0,
 3506737.0,
 3506741.0,
 3506743.0,
 3506745.0,
 3506797.0,
 3506823.0,
 3506843.0,
 3506978.0,
 3506997.0,
 3507017.0,
 3507058.0,
 3507082.0,
 3507087.0,
 3507128.0,
 3507130.0,
 3507133.0,
 3507134.0,
 3507194.0,
 3507216.0,
 3507218.0,
 3507224.0,
 3507240.0,
 3507248.0,
 3507310.0,
 3507354.0,
 3507356.0,
 3507440.0,
 3507490.0,
 3507558.0,
 3507577.0,
 3507582.0,
 3507630.0,
 3507741.0,
 3507783.0,
 3507787.0,
 3507801.0,
 3507899.0,
 3507969.0,
 3507977.0,
 3508036.0,
 3508173.0,
 3508214.0,
 3508279.0,
 3508301.0,
 3508305.0,
 3508345.0,
 3508368.0,
 3508371.0,
 3508422.0,
 3508443.0,
 3508444.0,
 3508469.0,
 3508515.0,
 3508540.0,
 3508595.0,
 3508601.0,
 3508603.0,
 3508653.0,
 3508739.0,
 3508754.0,
 3508803.0,
 3508851.0,
 3508899.0,
 3508915.0,
 3508960.0,
 3508984.0,
 3509028.0,
 3509030.0,
 3509044.0,
 3509120.0,
 3509122.0,
 3509186.0,
 3509200.0,
 3509210.0,
 3509224.0,
 ...)

In [12]:
#Fetching all the similar patents (as earliest patent publication ids) with a given family id from the database
conn = mysql.connector.connect(**db_config)

cursor = conn.cursor(dictionary=True)
docbfid=tuple(data["docdb_family_id"])
query = f"""
SELECT    
	t1.docdb_family_id,
    t1.earliest_pat_publn_id
FROM
    patstat_s24.tls201_appln t1
WHERE
	t1.docdb_family_id IN {docbfid};
"""
cursor.execute(query)
results = cursor.fetchall()
cursor.close()

True

In [13]:
data2=pd.DataFrame(results)

In [14]:
data2.head()

   docdb_family_id  earliest_pat_publn_id
0         19188314              286949845
1         19774416              287579451
2          8861213              289129312
3          7681129              288039900
4         19184257              287898353

In [15]:
#example of all the patents with family id=574528
data2[data2["docdb_family_id"]==574528]

        docdb_family_id  earliest_pat_publn_id
55002            574528              381963844
253355           574528              307102426
363431           574528              387115317
472031           574528              307102421
587183           574528              307102423
760005           574528              307102420
797370           574528              403919347
797408           574528              403922357
797541           574528              307102419
849929           574528              307102424

In [16]:
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted
0,574528.0,307102421.0,1985-04-10,EP,Y
1,574586.0,387396319.0,1987-06-08,EP,Y
2,574660.0,387398325.0,1986-08-04,EP,Y
3,1226456.0,303518198.0,1991-08-29,EP,Y
4,1226485.0,302640285.0,1992-08-12,EP,Y

In [17]:
#after fetching the similar patents for all the family ids in our dataset(data) we get dataset(data2) with length 1340152
print(len(data))
print(len(data2))

229282
1340152

In [18]:
#performing inner join between two datasets
merged_df = pd.merge(data,data2, on=['docdb_family_id', 'earliest_pat_publn_id'], how='inner')

In [19]:
len(merged_df)

229273

In [20]:
#difference gives the number of patent families for which representative patent was not the part of similar patents fetched by database
len(data)-len(merged_df)

9

In [21]:
#to check which patents did not align 
outer_merged_df = pd.merge(data,data2, on=['docdb_family_id', 'earliest_pat_publn_id'], how='outer', indicator=True)
outer_merged_df.head(100)

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,_merge
0,574528.0,307102419.0,NaN,NaN,NaN,right_only
1,574528.0,307102420.0,NaN,NaN,NaN,right_only
2,574528.0,307102421.0,1985-04-10,EP,Y,both
3,574528.0,307102423.0,NaN,NaN,NaN,right_only
4,574528.0,307102424.0,NaN,NaN,NaN,right_only
...,...,...,...,...,...,...
95,1340488.0,301941691.0,NaN,NaN,NaN,right_only
96,1340488.0,301941692.0,1991-02-20,EP,N,both
97,1340488.0,301941694.0,NaN,NaN,NaN,right_only
98,1340519.0,299341298.0,NaN,NaN,NaN,right_only
99,1340519.0,302222605.0,NaN,NaN,NaN,right_only

In [22]:
omitted_df = outer_merged_df[outer_merged_df['_merge'] == 'left_only']
omitted_df.head(100)

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,_merge
28982,4151350.0,302315673.0,1990-10-19,EP,Y,left_only
29299,4154642.0,301078296.0,1993-03-16,EP,Y,left_only
30736,4173026.0,298860978.0,1994-08-18,EP,Y,left_only
663878,25643279.0,387396958.0,1987-05-15,EP,Y,left_only
667223,25677152.0,303057982.0,1991-10-04,EP,Y,left_only
668239,25685277.0,300335060.0,1994-03-07,EP,Y,left_only
737026,27153130.0,301441222.0,1991-10-30,EP,Y,left_only
739665,27204425.0,300681450.0,1992-11-07,EP,Y,left_only
979802,37106903.0,303002833.0,1990-07-26,EP,N,left_only

In [23]:
len(omitted_df)

9

In [24]:
#to fetch the similar patents for the patent family ids for which the match was not found

conn = mysql.connector.connect(**db_config)

cursor = conn.cursor(dictionary=True)
docbfid_omitted=tuple(omitted_df["docdb_family_id"])
query = f"""
SELECT    
	t1.docdb_family_id,
    t1.earliest_pat_publn_id
FROM
    patstat_s24.tls201_appln t1
WHERE
	t1.docdb_family_id IN {docbfid_omitted};
"""
cursor.execute(query)
results2 = cursor.fetchall()
cursor.close()

True

In [25]:
data_omitted=pd.DataFrame(results2)
data_omitted.head()

Empty DataFrame
Columns: []
Index: []

In [25]:
#it shows that for all the patents family ids that were not matched we do not have data about those family ids in our database.